[2020-09-17 14:57] deutranium opened #10 "Create test cases for each type of algorithm"
Test case per type, like a set of unsorted arrays for the sorting algorithms etc.

Create a folder test_cases and add type wise test_cases there, with file name same as the type name following the `snake_case`

[2020-09-17 14:59] deutranium opened #11 "Check correctness of the codes added already"
To be done after test cases have been added.

If any bugs are found, create a separate issue named `<type> | <file_name> | Test Case Failed` and report the failed test case there.

[2020-09-17 15:03] deutranium commented on #11
## [Primality Test](https://github.com/deutranium/Algorithms/tree/master/primalityTest)

### [Optimised School Method](https://github.com/deutranium/Algorithms/tree/master/primalityTest/optimisedSchoolMethod)

- [ ] [optimisedSchoolMethod.py](https://github.com/deutranium/Algorithms/blob/master/primalityTest/optimisedSchoolMethod/optimisedSchoolMethod.py)

[2020-09-17 15:13] deutranium commented on #11
## [Sorting Algorithms](sortingAlgo)

### [Bubble Sort](sortingAlgo/bubbleSort)
- [ ] [bubbleSort.py](sortingAlgo/bubbleSort/bubbleSort.py)

### [Counting Sort](sortingAlgo/countingSort)
- [ ] [countingSort.cpp](sortingAlgo/countingSort/countingSort.cpp)
- [ ] [countingSort.py](sortingAlgo/countingSort/countingSort.py)

### [Heap Sort](sortingAlgo/heapSort)
- [ ] [heapSort.cpp](sortingAlgo/heapSor

[2020-10-01 14:08] deutranium opened #14 "Implement Fibonacci Search"
Implement [Fibonacci Search](https://www.geeksforgeeks.org/fibonacci-search/) in a language of your choice

[2020-10-01 14:10] shubhamgoel9 commented on #14
please assign this issue to me

[2020-10-01 14:11] deutranium opened #15 "Implement Sublist Search"
Implement [Sublist Search](https://www.geeksforgeeks.org/sublist-search-search-a-linked-list-in-another-list/) in a language of your choice

[2020-10-01 14:13] SamC302 commented on #15
Can I work on this?

[2020-10-01 14:25] shubhamgoel9 commented on #14
solved the issue in #17 .Please review it.

[2020-10-01 14:47] vishalkale151071 commented on #14
can you assign this issue to me?

[2020-10-01 15:03] deutranium commented on #14
@vishalkale151071 this has already been done. Feel free to create an issue of your own and contribute to it

[2020-10-01 15:04] deutranium commented on #15
@SamC302 sure

[2020-10-01 15:06] deutranium commented on #15
@SamC302 but do ensure that you don't wrote the code in the language for which someone has already added their files. Please check the PR section for the same

[2020-10-01 15:08] deutranium commented on #14
@vishalkale151071 since @shubhamgoel9 made the pull request first, I'll merge his code. You can edit it if you find that it can be improvised in any way. Or you can implement the same algo in any other language

[2020-10-01 15:26] shubhamgoel9 opened #21 "linear search in c++"

[2020-10-01 15:26] deutranium opened #22 "Implement Bucket Sort"
Implement [Bucket Sort](https://en.wikipedia.org/wiki/Bucket_sort) in a language of your choice.

**Please read contributing guidelines in CONTRIBUTING.md**

Languages implemented:
--none--

[2020-10-01 15:26] shubhamgoel9 commented on #21
assign me to this issue

[2020-10-01 15:31] shubhamgoel9 commented on #21
solved the issue in #23 . Please review it.

[2020-10-01 15:36] deutranium commented on #21
This issue is closing with #23

Thanks for contributing!

[2020-10-01 15:36] #21 closed

[2020-10-01 15:39] aedorado commented on #22
c++

[2020-10-01 15:42] shubhamgoel9 opened #25 "bubble sort in c++"

[2020-10-01 15:42] shubhamgoel9 commented on #25
assign this issue to me

[2020-10-01 15:44] blackfly19 opened #27 "Cycle Sort in C++"
Implementing cycle sort in C++

[2020-10-01 15:44] deutranium opened #28 "Enhancement fixes"
If you come across any fixes like the following, please **comment here** *(DO NOT MAKE A SEPARATE ISSUE FOR THAT)* and make a **PR** for the same

- Directory structure not being followed
- Naming conventions not being followed
- Algorithm implemented but not linked in [readme.md](https://github.com/deutranium/Algorithms/blob/master/Readme.md)

[2020-10-01 15:44] blackfly19 commented on #27
Can you please assign me this issue.

[2020-10-01 16:14] deutranium commented on #27
Closed with #30

[2020-10-01 16:14] #27 closed

[2020-10-01 16:49] dhirendrachoudhary commented on #22
I would like to work on this issue

[2020-10-01 16:52] deutranium commented on #22
@dhirendrachoudhary sure, assigning you too

[2020-10-01 17:07] dhirendrachoudhary commented on #15
I can work on this issue in python

[2020-10-01 17:09] dhirendrachoudhary opened #33 "Shell sort"
Shell sort is missing
I want to work on shell sort

[2020-10-01 17:12] deutranium commented on #15
@dhirendrachoudhary it has already been implemented. Maybe choose a different language or algo.

[2020-10-01 17:12] deutranium commented on #33
Sure. Check out contributing guidelines too!!

[2020-10-01 17:13] SamC302 commented on #15
I'll work on it in java

[2020-10-01 17:13] dhirendrachoudhary commented on #15
@deutranium  I'll implement in C++

[2020-10-01 17:15] deutranium commented on #15
@SamC302 @dhirendrachoudhary sure. I'll assign you both.

[2020-10-01 17:16] SamC302 commented on #15
@deutranium The link you provided is for linked lists, is that what I should do it for?

[2020-10-01 17:16] aedorado commented on #22
Fixed in PR #34

[2020-10-01 17:17] deutranium commented on #22
@aedorado merged

[2020-10-01 17:19] deutranium commented on #15
@SamC302 It's completely upto you, but just mention it as comments in your code.
I just wanted to provide and example.

[2020-10-01 17:20] shubham2704 opened #36 "Quick Sort"
Quick sort algorithm is missing in sorting algorithms folder.

I would like to work on this.

[2020-10-01 17:21] deutranium commented on #33
Closing with #35

[2020-10-01 17:21] #33 closed

[2020-10-01 17:21] deutranium commented on #36
Sure!!
Do add it in readme.md and check up contributing guidelines before making a PR

[2020-10-01 17:26] deutranium commented on #15
Closing #37 for C++

[2020-10-01 17:38] aedorado commented on #36
@shubham2704 What language are you adding?

[2020-10-01 17:54] deutranium commented on #36
@aedorado he has added Python and JavaScript

[2020-10-01 17:57] deutranium commented on #36
Closing this issue with #39
I'll create a new one with the same format as others. Good job on the linked PR with creating and adding it to readme etc.

[2020-10-01 17:57] #36 closed

[2020-10-01 17:59] deutranium opened #40 "Implement Quick Sort"
Implement [Quick Sort](https://www.programiz.com/dsa/quick-sort) in a language of your choice

**Please read the contributing guidelines in CONTRIBUTING.md**

Languages claimed/implemented:

- [x] Python (by @shubham2704 )
- [x] JavaScript (by @shubham2704 )

[2020-10-01 18:01] Bijay555 commented on #40
Hey @deutranium I will implement quick sort in python.  can you assign me?

[2020-10-01 18:02] snehagupta-4 commented on #40
Hey @deutranium , I'd like to add in java. please assign it to me

[2020-10-01 18:03] deutranium commented on #40
@Bijay555 it has already been implemented in Python. You can implement any other algo of your choice in python, provided it has not been taken by someone else. Or you can implement this one is some other language.

[2020-10-01 18:05] deutranium commented on #40
@snehagupta-4 sure!
Do read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md) and take a look at #39 for an example of a good PR.

[2020-10-01 18:09] deutranium opened #41 "Implement Binary Search"
Implement [Binary Search](https://www.khanacademy.org/computing/computer-science/algorithms/binary-search/a/binary-search) in a language of your choice.

**Please read the contributing guidelines in CONTRIBUTING.md**

Languages claimed/implemented:
- [x] C (by @KyaBacchaHai )
- [x] Python (by @deutranium )

[2020-10-01 18:13] deutranium opened #42 "Implement Exponential Search"
Implement [Exponential Search](https://en.wikipedia.org/wiki/Exponential_search) in a language of your choice.

**Please read the contributing guidelines in CONTRIBUTING.md**

Languages claimed/implemented:
- [x] Python (by @deutranium )

[2020-10-01 18:19] Rahul30032 commented on #41
Hey  I can try implementing this in CPP, if that's okay can you assign this to me?

[2020-10-01 18:23] Rahul30032 commented on #40
I would like to add code in CPP . Please assign it to me, in case it is still open.

[2020-10-01 18:23] hackbansu commented on #41
I'm adding this in Java.

[2020-10-01 18:26] deutranium commented on #41
@Rahul30032 @hackbansu sure

[2020-10-01 18:27] resakra commented on #42
May I ask you please to assign this issue to me if this is a beginner python level? Thanks in advance

[2020-10-01 18:32] deutranium commented on #42
@resakra sorry but it has already been implemented in Python.
If you're looking for a beginner level python, I'll suggest looking up some algos which haven't been added already and try to implement them

[2020-10-01 18:40] Heniboj commented on #40
Hey @deutranium,
I could make the quick sort algorithm in C, please assign it to me if it is available.

[2020-10-01 18:41] hackbansu commented on #41
Created #45 with code in Java. Cheers :)

[2020-10-01 18:46] shubham2704 commented on #36
Thank you for merging my pull request, i will try to solve other issues also.✌

[2020-10-01 19:04] zainbinfurqan commented on #40
@deutranium  can i do it on JS

[2020-10-01 19:24] Smrt-Sanskar commented on #14
Can I implement it in C++

[2020-10-01 19:25] deutranium commented on #14
@Smrt-Sanskar sure

[2020-10-01 19:26] deutranium commented on #40
@Rahul30032 @Heniboj sure

[2020-10-01 19:50] ShadowFax1731 commented on #22
I want to work on this in Java.

[2020-10-01 19:52] blackfly19 opened #53 "Implement Rabin karp algorithm in C++"
@deutranium can you please assign me this issue.

[2020-10-01 19:57] adithyaakrishna commented on #28
@deutranium Can I work on this?

[2020-10-01 19:58] adithyaakrishna commented on #11
@uravgkarthik Check this out!

[2020-10-01 20:06] Rahul30032 commented on #41
after this issue was assigned to me, I found out a basic implementation of binarysearch in cpp was pushed so i implemented another problem statement mentioned in readme file in binaryseach folder i.e implementing binary search for a sorted array with duplicate elements. my output gives first and last index as well as its count.

[2020-10-01 21:11] deutranium commented on #41
@Rahul30032 yeah it was an issue at my end, I didn't check it. Thanks for implementing a different version and good job with the code!!

[2020-10-01 21:13] deutranium commented on #53
Sure!! done.

[2020-10-01 21:14] deutranium commented on #22
@ShadowFax1731 sure, assigned it to you.
Referred in #54

[2020-10-01 21:16] deutranium commented on #28
@adithyaakrishna sure if you can find any issues.
A few were fixed in #49 but there might be new ones after that.
Adding you as an asignee

[2020-10-01 21:40] deutranium commented on #36
@shubham2704 sure :)
Thanks for contributing!!

[2020-10-01 21:56] adithyaakrishna commented on #28
Thank you @deutranium Will work on it right away 🚀

[2020-10-02 00:01] DeltaHarbinger opened #60 "Comb Sort implementation in Python"
I would like to add an implementation of Comb Sort in Python. The pull request has already been made

[2020-10-02 00:01] DeltaHarbinger commented on #60
#59

[2020-10-02 00:19] ankur-kayal commented on #42
Can i work on it in c++?

[2020-10-02 00:29] andrewxueax opened #62 "Implement Solovay-Strassen Primality Test"
Implementing Solovay-Strassen Primality Test

[Pull Request](https://github.com/deutranium/Algorithms/pull/61#issue-496615553) Has Been Made for Python Implementation

[2020-10-02 07:04] Ankitasareen commented on #42
Hey can i implement  the code in javascript?

[2020-10-02 07:05] Ankitasareen commented on #14
Can I implement it in java script?

[2020-10-02 07:16] fcoterroba commented on #14
Well... Can you asignt it to me? I can do it in C, Java and PHP

[2020-10-02 10:35] blackfly19 opened #65 "KMeans algorithm in python"
Please can you assign me this issue.

[2020-10-02 10:50] deutranium commented on #62
Sure thanks!

Closing with #61

[2020-10-02 10:50] #62 closed

[2020-10-02 10:52] deutranium commented on #60
Sure thank you!!!!

Closing with #59

[2020-10-02 10:52] #60 closed

[2020-10-02 10:53] deutranium commented on #42
@ankur-kayal @Ankitasareen sure
Adding you both as assignees

[2020-10-02 10:57] deutranium commented on #14
@Ankitasareen sure

@fcoterroba you can do this in C and PHP. I'll assign [@chiragjagad](https://github.com/chiragjagad) for JAVA. Refer #31

[2020-10-02 11:07] deutranium commented on #65
@blackfly19 sure done!!

[2020-10-02 11:17] #53 closed

[2020-10-02 11:24] deutranium commented on #65
Closing with #67

[2020-10-02 11:24] #65 closed

[2020-10-02 18:03] swapnil-satpathy commented on #41
Can you please assign it to me. I along with binary search will also implement lower_bound,upper_bound from scratch which are features of STL and also add functionalities for finding ceiling and floor

[2020-10-02 18:49] deutranium commented on #41
@swapnil-satpathy sure and I'm guessing you're talking about an implementation in C.

But you should name it as `binarySearch_scratch.c` and don't remove the code present right now as it talks about the basic flow without going into intricacies.

I'll assign this to you

[2020-10-02 18:56] deutranium opened #69 "Create Algorithm readmes"
### Classical Algos
- [ ] Kosarju's Algo
- [ ] Kadane's Algo (file created already with a basic intro, need to add full details)
- [ ] Tries

### ML Algos
- [ ] KMeans

### Primality Tests
- [ ] Optimised School Method
- [ ] Solovay Strassen Method

### Searching Algo
- [x] Binary Search (just need to add instructions to run)
- [ ] Exponential Search
- [ ] Fibonacci Search
- [ ] Interpolation Sear

[2020-10-02 19:25] adithyaakrishna opened #70 "Implement Pigeonhole Sort"
Implement Pigeonhole Sort in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] C#

[2020-10-02 19:27] adithyaakrishna opened #71 "Implement Comb Sort"
Implement Comb Sort in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] C#

[2020-10-02 19:31] adithyaakrishna commented on #70
@deutranium I'm creating a PR for the issues :)
Ik I was assigned to others but I wanted to work on some algorithms :)

[2020-10-02 19:33] deutranium commented on #70
@adithyaakrishna sure. Just mark the language you want to work in as selected for that particular algo.

[2020-10-02 19:52] khare-agraj commented on #71
can you assign me c++ code?

[2020-10-02 19:57] deutranium commented on #71
@khare-agraj sure. Will have to confirm if @adithyaakrishna is working on it in C++.
@adithyaakrishna which languages are you working on for this?

[2020-10-02 20:06] adithyaakrishna opened #76 "Implement Dijkstra Algorithm"
Implement Dijkstra Algorithm in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] C#

[2020-10-02 20:07] deutranium commented on #71
@khare-agraj looks like @adithyaakrishna implemented the C++ one. You can still work on some other algo or some other language

Also @adithyaakrishna please mark the language you want to work on as soon as you make the issue. This helps us know which all languages are available for others to work on

[2020-10-02 20:08] deutranium commented on #76
@adithyaakrishna mark the languages you'll be working on before starting the actual code.

[2020-10-02 20:09] adithyaakrishna commented on #76
@khare-agraj You can work on this issue if you would like :)

[2020-10-02 20:10] adithyaakrishna commented on #76
@deutranium I won't be working on this, Just created a issue if someone would like to learn and contribute :)
#happyhacking 🚀

[2020-10-02 20:10] deutranium commented on #76
Okay sure thanks!!

[2020-10-02 20:12] adithyaakrishna opened #77 "Implement Fermat Method in Primality Test Algorithms"
Implement Fermat Method in Primality Test Algorithms in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] C#

[2020-10-02 20:16] adithyaakrishna opened #79 "Implement Miller-Rabin Method in Primality Test Algorithms"
Implement Miller-Rabin Method in Primality Test Algorithms in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] C#

[2020-10-02 20:19] priya-pri commented on #76
Hi ,Can I work on this?

[2020-10-02 20:23] cchirag commented on #76
Hey @deutranium Can I take up this issue?
I would like to work on any one of the languages

[2020-10-02 20:26] arushimgupta opened #80 "Implement Kruskals algorithm"
Implemented the Kruskals algorithm to find Minimum Spanning Tree of a Graph

[2020-10-02 20:37] khare-agraj commented on #71
is it okay if i take python?

[2020-10-02 20:44] arushimgupta commented on #76
Can I work on this in Java?

[2020-10-02 20:49] shobhit907 commented on #76
Hey, I can contribute Dijkstra algorithm in C++.
Could you assign me?

[2020-10-02 20:57] adithyaakrishna commented on #80
@arushimgupta I Would really suggest you to add some description to the issue and Change the title to Implement Kruskals Algorithm
And it would be really good if Hacktoberfest is treated to be a oppurtunity to learn and code and hence contribute to Open Source. Please don't create issues or Spam the Hacktoberfest

Happy Hacking! 🚀

[2020-10-02 21:01] karthikshetty03 commented on #79
@adithyaakrishna , Can I work on this issue ?

[2020-10-02 21:08] adithyaakrishna commented on #79
@karthikshetty03 I don't have the permission to assign you, but you can work on this issue and create a commit in your fork and once @deutranium
assigns you, you can immediately create a PR :)

[2020-10-02 21:09] deutranium commented on #71
@khare-agraj sure!
Assigning it to you

[2020-10-02 21:22] deutranium commented on #76
@cchirag @priya-pri  sure you can work on any language except JAVA and C++ as they'd be given to @arushimgupta and @shobhit907 respectively.

@arushimgupta @shobhit907 sure, go ahead

[2020-10-02 21:31] deutranium commented on #79
@adithyaakrishna thanks for your helpful comments!!

@uravgkarthik Github requires you to comment on the issue first for me to be able to add you as an assignee. Please comment here with the language you would like to work with.

[2020-10-02 21:35] deutranium commented on #80
@arushimgupta sure but it is always better to create the issue before you start working on the code. Please keep this in mind for your future contributions.

[2020-10-02 21:35] deutranium commented on #80
Closing this with #82

[2020-10-02 21:35] #80 closed

[2020-10-03 02:45] Grasstown commented on #69
Hi, do you mind if I work on a readme for selection sort?

[2020-10-03 08:51] pandeyxamit commented on #69
I Created PR's #85 #86 #88 which are readme's for bubble sort,shell sort and bucket sort.

[2020-10-03 09:56] AangTheLast commented on #69
I Created Readme Files For #95 #92  for pigeonhole sort & Insertion Sort.

[2020-10-03 10:03] Hamzakam commented on #69
I created readme for exponential Search,Optimitized school method for primality test and linear search  PR's #93 #87 #90 .

[2020-10-03 11:26] prerna250 commented on #77
i would like to contribute in this project in python language.

[2020-10-03 12:57] cchirag commented on #76
I would be working on the Python Code :)

[2020-10-03 13:11] deutranium commented on #69
@Grasstown sure!!

@pandeyxamit @AangTheLast @Hamzakam reviewing your PRs now

[2020-10-03 13:19] deutranium commented on #77
@prerna250 assigning it to you

[2020-10-03 13:21] deutranium commented on #76
Closing #96 for Python by @cchirag

[2020-10-03 15:00] dcariotti opened #97 "Insertion and selection sort in C++"
I'd like to implement a version of inserition sort and selection sort in C++ language. Both of them in iterative and recursive way.

[2020-10-03 15:13] deutranium commented on #97
Sure!

[2020-10-03 15:14] deutranium commented on #97
Closing with #99

[2020-10-03 15:14] #97 closed

[2020-10-03 17:19] ankur-kayal commented on #42
@deutranium pull request added . Please review and if needed suggest necessary changes 👍

[2020-10-03 17:39] deutranium commented on #42
@ankur-kayal that was a great one! Merged.

[2020-10-03 17:41] 96Octavian commented on #79
If there's no assignee, I can provide a Python implementation and maybe translate it to C# (and probably Java too)

[2020-10-03 17:53] deutranium commented on #79
@96Octavian sure. Should I assign all the three (C, Python, C#) to you?

[2020-10-03 18:08] 96Octavian commented on #79
Yes please. I can do Python, C# and Java (I don't know a thing about C++ though, can't promise)

[2020-10-03 18:10] deutranium commented on #79
@96Octavian sure I'll assign these 3 to you.
Happy coding!!

[2020-10-03 18:18] arnav-roy commented on #77
I would like to contribute in C++

[2020-10-03 18:19] arnav-roy commented on #70
I want to contribute in C++

[2020-10-03 18:23] arnav-roy commented on #79
I want to contribute in C++

[2020-10-03 19:20] deutranium commented on #77
@arnav-roy sure assigning it to you

[2020-10-03 19:21] deutranium commented on #70
@arnav-roy sure assigning it to you

[2020-10-03 19:23] deutranium commented on #79
@arnav-roy sure assigned it to you

[2020-10-04 02:59] juanmagutierrez commented on #77
i would like to do it in Java.

[2020-10-04 12:46] deutranium commented on #77
@juanmagutierrez sure

[2020-10-04 18:07] krishnmohan19 commented on #70
hey @adithyaakrishna .
would you plz assign me in javascript.

[2020-10-04 21:55] deutranium commented on #70
@krishnmohan19 sure

[2020-10-05 08:01] 96Octavian commented on #79
Should camel case be followed even in languages where it is not standard naming convention?

[2020-10-05 09:02] krishnmohan19 commented on #70
hey @deutranium
i have made my PR
https://github.com/deutranium/Algorithms/pull/110
please review it

[2020-10-05 12:49] deutranium commented on #79
@96Octavian no you can follow for example snake case in python. That rule was added to ensure that there is a uniformity in code style

[2020-10-05 12:52] deutranium commented on #70
@krishnmohan19 sure!!
Thanks for contributing :)

Closing #110

[2020-10-06 07:12] shubham2704 commented on #76
@deutranium i would like to work on this in golang. please assign me.

[2020-10-06 19:30] anmol193 commented on #22
can i do this in JavaScript?

[2020-10-07 08:06] deutranium commented on #22
@anmol193 sure

[2020-10-09 19:21] ivinaypathak opened #119 "Implement Minimum Spanning Tree | Prim's Algorithm | Graphs | C++"
## Implementing Prim's Minimum Spanning Tree Algorithm in C++

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [x] C++

[2020-10-09 19:21] ivinaypathak commented on #119
I would like to work on it.

[2020-10-09 19:28] shubhamnag14 commented on #119
can i solve this issue..assign me this issue

[2020-10-10 02:38] deutranium commented on #119
@ivinaypathak  thanks for contributing : )

@shubhamnag14 which language would you like to work with?

[2020-10-10 11:13] Wittty-Panda commented on #71
@deutranium can you assign java part  to me ?

[2020-10-11 04:14] deutranium commented on #71
@Wittty-Panda sure

[2020-10-11 04:15] deutranium commented on #71
@Wittty-Panda it has already been implemented. You can work on some other language for this algo, or some other algo if you want to work specifically in JAVA.

[2020-10-11 04:26] Wittty-Panda commented on #71
@deutranium understood , will do 👍

[2020-10-12 14:44] erikrios commented on #42
Hey @deutranium, can I work on it in Java?

[2020-10-12 17:50] deutranium commented on #42
@erikrios sure

[2020-10-16 05:09] prerna250 commented on #77
I have submitted 3 PR's.

[2020-10-16 12:26] deutranium commented on #77
@prerna250 none of them is on this repo so I can't accept them. I can see you have made the pull request on your copy(your fork). Instead, you need to do that on this repo. Refer [this](https://www.digitalocean.com/community/tutorials/hacktoberfest-how-to-submit-your-first-pull-request-on-github) for reference

[2020-10-17 00:40] deutranium commented on #77
@prerna250 none of the PRs you submitted are on this repo so I can't accept them.
I think you made them on your fork instead. Refer [this](https://jarv.is/notes/how-to-pull-request-fork-github/) for some instructions and make the PRs on this repo instead. Your code is good and as soon as you make a PR here, I'll be able to accept them.

Happy coding 🎉

[2020-10-17 09:37] prerna250 commented on #77
oh okay
i am quiet new to this thing
thanks a lot for the guidance
i'll make the necessary changes ASAP

[2020-10-18 17:34] adithyaakrishna commented on #119
@deutranium Can I work on Python and Java Programs?

[2020-10-20 08:54] dcariotti opened #129 "Implement Heap Sort in Rust"
I want to implement my solution of Heap sort algorithm.
Languages claimed/implemented:
- [x] Rust

[2020-10-20 09:53] deutranium commented on #129
Thanks for contributing!!
Closed #130 for Rust

[2020-10-20 10:02] #129 closed

[2020-10-20 13:56] arushimgupta commented on #119
@deutranium can I work on the java implementation?

[2020-10-20 14:38] deutranium commented on #119
@arushimgupta @adithyaakrishna claimed it before, so you can implement it in some other language, or chose a different algo.

@adithyaakrishna missed your notification for some reason, assigning python and java to you.

[2020-10-20 19:50] adithyaakrishna commented on #119
Yo @deutranium Thanks! 👨‍💻

[2020-10-21 21:55] cchirag commented on #119
Can I work on the C# Algorithm?

[2020-10-22 08:40] deutranium commented on #119
@cchirag sure!
Assigning it to you

[2020-10-22 10:46] arushimgupta opened #134 "Implement Breadth First Search"
Implement Breadth First Search in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] Any other language

[2020-10-22 10:46] arushimgupta commented on #134
I would like to work on the java and python implementation.

[2020-10-22 14:02] Anamika810 commented on #134
I would like to work on C and C++

[2020-10-22 15:29] deutranium commented on #134
@arushimgupta @Anamika810 sure!

[2020-10-22 17:35] arushimgupta opened #139 "Implement Depth First Search"
Implement DFS in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] Any other language

[2020-10-22 17:36] arushimgupta commented on #139
I'd like to work on the java implementation

[2020-10-22 17:45] snehaa1989 commented on #139
I'd like to work on C++ implementation @arushimgupta

[2020-10-22 17:50] roshanzameer01 commented on #139
I can help with Python Implementation

[2020-10-22 18:13] namrata18s commented on #139
I would like to work on C implementation @arushimgupta

[2020-10-22 18:31] namrata18s commented on #76
Could you assign me this task for C#

[2020-10-22 23:47] deutranium commented on #139
@arushimgupta @snehaa1989 @roshanzameer01 @namrata18s sure!!

[2020-10-22 23:50] deutranium commented on #76
@namrata18s sure!

[2020-10-23 01:20] AdhitiS commented on #139
I would like to work on C++ implementation @deutranium

[2020-10-23 03:51] manavbhikadiya commented on #134
I have the solution of breadth first search. please assign it to me..

[2020-10-23 07:57] deutranium commented on #139
@AdhitiS DFS has already been claimed/implemented by someone else. Check the issue, the box next to C++ has been checked.
That's why I won't be able to merge your PR. To avoid this in future, check if the algo you want to work on has not been claimed or implemented yet.

You can still check out other algos and find something else which can be implemented in C++

Happy coding!

[2020-10-23 07:57] deutranium commented on #134
@manavbhikadiya which language would you like to implement it in?

[2020-10-23 12:32] manavbhikadiya commented on #134
@deutranium  in  C  or C++ language i would like to implement..

[2020-10-23 12:34] manavbhikadiya commented on #134
and also i have the solution in java language.. please assign it to me..

[2020-10-23 12:43] deutranium commented on #134
@manavbhikadiya it has already been implemented in C, C++ and JAVA. Check the issue at the top, there box next to these languages is checked. You can check out other algos which you can implement in these languages.

Happy coding!

[2020-10-23 15:30] manavbhikadiya commented on #134
@deutranium  ok! i got it. I also solved this problem in JavaScript and I would love to do contribute to this repository. please assign this to me. I will give my best to do this.

[2020-10-23 16:23] cchirag commented on #139
@deutranium  Can I work on the C# implementation?

[2020-10-23 16:24] cchirag commented on #134
Can I work on the C# implementation? @deutranium

[2020-10-23 17:05] deutranium commented on #134
@manavbhikadiya @cchirag sure!!

[2020-10-24 01:33] deutranium commented on #139
@cchirag sure!!

[2020-10-24 02:11] shari09 opened #144 "Implement bubble sort in Java"
Implement bubble sort in Java

[2020-10-24 03:32] MercerFrey commented on #144
may i take it :)

[2020-10-24 04:10] shari09 commented on #144
Do I just open an issue and make a PR myself. If so, I've already done that :)

[2020-10-24 04:18] MercerFrey commented on #144
yeah, im newbie sorry about that

[2020-10-24 06:50] deutranium commented on #144
@shari09 yupp, just ensure that no one else is working on it when you want to.
Saw you PR, I'll review it asap

[2020-10-24 06:51] deutranium commented on #144
Closing this with #145

[2020-10-24 06:51] #144 closed

[2020-12-02 06:36] AtigPurohit commented on #77
Can I work on the C code?

[2021-06-26 15:35] AtigPurohit opened #161 "String Palindrome checker"
I can make a program to check whether a string is palindrome or not.

Languages:

- [ ] C++
- [ ] Java

[2021-06-26 17:13] deutranium commented on #161
Hey @AtigPurohit
Sure you can also look at the python implementation here for reference!

Happy coding!

[2021-06-27 04:11] deutranium commented on #161
Closed with #162

[2021-09-30 21:54] mendoza commented on #139
@deutranium Can I work on the JS implementation?

[2021-09-30 22:07] deutranium commented on #139
@mendoza sure, go for it!

[2021-09-30 22:14] inesane commented on #71
@deutranium I've implemented Comb Sort in C

[2021-09-30 22:15] inesane commented on #27
@deutranium Fixed bugs in this code.

[2021-09-30 22:17] inesane opened #167 "Implement Cycle Sort in C/C++"
I fixed bugs in the C++ code and newly implemented Cycle Sort in C.

[2021-09-30 22:24] inesane commented on #167
Fixed bugs in C++ code and implemented in C

[2021-09-30 22:49] mendoza commented on #167
👀 I got a notification about this, let me help you with the JS version!

[2021-09-30 22:53] mendoza commented on #139
@deutranium could you help me out assigning me again pls LOL, I miss click.

[2021-10-01 00:42] deutranium commented on #167
@mendoza go for it!
Assigned it to you!

[2021-10-01 00:44] deutranium commented on #139
Lol sure

[2021-10-01 00:45] deutranium commented on #71
@inesane perfect, thanks!

[2021-10-01 01:01] durgeshahire07 commented on #167
I can help with the java implementation

[2021-10-01 02:13] vczoika commented on #167
May I implement using Ruby?

[2021-10-01 08:45] deutranium commented on #167
@durgeshahire07 @vczoika sure thing!
assigning you both

[2021-10-01 15:33] jdrodriguezh commented on #167
Hello @deutranium I would like to be assigned to the python version.

[2021-10-01 18:17] saru-d2 commented on #134
There's another implementations [here](https://github.com/deutranium/Algorithms/tree/master/ClassicalAlgos/BFS_algorithm). shall I mmerge them?

[2021-10-01 18:19] inesane commented on #134
@saru-d2 sure!!

[2021-10-01 18:34] deutranium commented on #167
@durgeshahire07 my bad, it wasn't updated in the description. You can check out any other language or algo to implement!

@jdrodriguezh we already have the python version of cycle sort implemented too. Check out any other algo/language you can contribute to!

[2021-10-01 19:46] codelixir commented on #161
Hey, can I implement this in golang?

[2021-10-01 19:46] inesane commented on #161
@codelixir Sure go ahead!

[2021-10-01 19:52] codelixir commented on #161
Closed with #176

[2021-10-01 19:52] #161 closed

[2021-10-02 14:39] durgeshahire07 commented on #167
Ok sure.

[2021-10-02 14:42] durgeshahire07 opened #177 "Implement Cocktail Sort"
Implement Cocktail Sort in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] Any other language

[2021-10-02 14:44] durgeshahire07 commented on #177
Hello @deutranium , I can work on python

[2021-10-02 17:13] deutranium commented on #177
@durgeshahire07 sure, go for it!

[2021-10-03 05:38] Lashuk1729 opened #178 "Implement the Perceptron Algorithm in Python Language."

[2021-10-03 05:41] Lashuk1729 commented on #178
@deutranium I would like to work on this issue.

[2021-10-03 11:20] codelixir commented on #41
Hey, can I implement this in golang?

[2021-10-03 11:50] codelixir commented on #177
@durgeshahire07 thanks! closing #179

[2021-10-03 11:55] codelixir commented on #28
Some of the links in readme aren't working post #174 (since some directory names were changed to follow the convention).
Please comment if someone wants to work on it, and one of us will assign it to you, after which you can make a PR.

[2021-10-03 12:08] codelixir commented on #178
I think she's busy so I'll reply on her behalf.
@Lashuk1729 you can work on it. Also, it would be great if you could provide a small description of the algorithm :)

[2021-10-03 12:27] Lashuk1729 commented on #178
@deutranium @codelixir Please do take a look and let me know if any changes are needed to be made.

[2021-10-03 12:52] inesane commented on #41
@codelixir sure go ahead!

[2021-10-03 14:53] codelixir commented on #178
Closing with #180
Thanks @Lashuk1729

[2021-10-03 14:53] #178 closed

[2021-10-04 01:37] deutranium commented on #28
@codelixir sure, go for it!

[2021-10-04 02:51] srusti610 commented on #177
Hello, can I implement cocktail sort in c++.

[2021-10-04 09:38] codelixir commented on #177
@srusti610 sure, go for it!

[2021-10-04 09:50] codelixir opened #184 "Fixing links in the readme"
Some of the links in readme aren't working post #174 (since some directory names were changed to follow the convention).

Please comment if someone wants to work on it.

[2021-10-04 10:00] itsksquare commented on #184
hey, I could work on those fixes

[2021-10-04 10:17] RiyaM16 commented on #184
Hi @codelixir, I'd like to work on it.

[2021-10-04 11:15] codelixir commented on #184
Sure, go ahead!

[2021-10-04 11:20] codelixir commented on #177
@srusti610 thanks! closing #183 for c++

[2021-10-04 13:01] Mayuresh-loves-cpp commented on #177
I can contribute it for C

[2021-10-04 13:17] codelixir commented on #177
@Mayuresh-loves-cpp cool, go ahead!

[2021-10-04 15:06] codelixir commented on #177
@inesane I have implemented the same in golang; please review and accept if it looks okay (#186)

[2021-10-05 12:46] K-u-n-a-l-c opened #188 "Add README.md in counting sort."
Implement <algo name> in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] Any other language

[2021-10-05 12:46] #188 closed

[2021-10-05 21:34] codelixir commented on #177
@Mayuresh-loves-cpp thanks! closing #187 for C

[2021-10-05 22:07] K-u-n-a-l-c commented on #177
Hey, I can write the code in Java.

[2021-10-05 22:12] K-u-n-a-l-c commented on #69
Hey, I have created a PR #190 for counting sort, Please review it

[2021-10-06 01:26] deutranium commented on #69
@K-u-n-a-l-c sure!

[2021-10-06 07:45] K-u-n-a-l-c opened #193 "Implement Heap sort"
Implement <algo name> in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [x] C
- [x] C++
- [ ] Java
- [x] Python
- [x] Rust
- [ ] Any other language

[2021-10-07 08:42] codelixir commented on #40
Merged #197 for C# (by @gabrielhs1357)

[2021-10-07 09:45] K-u-n-a-l-c opened #201 "Implement Merge Sort"
Implement <algo name> in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [x] C
- [x] C++
- [x] Java
- [x] Python
- [x] Swift
- [ ] Any other language

[2021-10-07 12:16] Anubha13kumari commented on #193
I want to do this in c language @deutranium

[2021-10-07 12:17] Anubha13kumari commented on #201
I want to implement javascript in this @deutranium

[2021-10-07 21:04] codelixir commented on #161
@gabrielhs1357 assigned! Looks like you accidentally closed the PR by force-pushing. Please reopen it so that I can merge it.

[2021-10-07 21:04] deutranium opened #211 "Implement Interpolation Search"
Implement Interpolation Search in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [x] C (by @Abhishek-Greninja17 )
- [x] C++ (by @rcchcz )
- [ ] Java
- [x] Python
- [ ] Any other language

[2021-10-07 21:10] deutranium opened #212 "Implement Insertion Sort"
Implement Insertion Sort in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [x] C
- [x] C++
- [x] Java
- [x] Python
- [x] JavaScript (by @gabrielhs1357 )
- [ ] Any other language

[2021-10-07 21:18] deutranium commented on #177
@gabrielhs1357 marked #208 as it had copied code. Please write your own code if you still want to contribute to this issue

[2021-10-07 21:26] deutranium commented on #193
@Anubha13kumari your PR #203 had copied code and hence has been marked invalid. Please write your own code if you still want to contribute to this issue

[2021-10-07 22:06] deutranium commented on #177
Merged the new code, thanks for contributing!

[2021-10-07 22:06] deutranium commented on #212
@Akhilesh0947 which language would you like to implement this in?

[2021-10-07 22:11] Akhilesh0947 commented on #212
please approve #215

[2021-10-07 22:18] deutranium commented on #212
@Akhilesh0947 since your PR has copied code, it has been marked as invalid and won't be merged. Please write your own code if you want to contribute

[2021-10-07 22:21] Akhilesh0947 commented on #212
I know only c++,still I can contribute?

[2021-10-07 22:22] deutranium commented on #212
@akshaygidwani404 Insertion sort has already been implemented in C++ so can't assign that to you. Since you also mentioned about the intuition behind the algorithm, maybe you can try improving the readme? There aren't any specific changes I can think of, but if you have any significant improvements for the [README.md](https://github.com/deutranium/Algorithms/blob/master/sortingAlgo/insertionSort/R

[2021-10-07 22:23] Akhilesh0947 commented on #212
ok

[2021-10-07 22:40] Akhilesh0947 commented on #201
please approve #216

[2021-10-08 05:34] Poojasingh5 commented on #193
@deutranium  I can contribute in Cpp, kindly assign it to me.

[2021-10-08 06:41] deutranium commented on #211
closing #217 for C

[2021-10-08 06:48] deutranium commented on #193
@swairik sure
@Poojasingh5 it has already been implemented in cpp so can't assign that to you. Feel free to pick up any other algorithm where cpp hasn't been implemented, or implement this one in a new language

[2021-10-08 07:05] akshaygidwani404 opened #221 "Implement Kadane's algorithm in Java"
Implement Kadane's algorithm in Java

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [x] C
- [x] C++
- [x] Java
- [x] Python
- [x] Javascript
- [ ] Any other language

[2021-10-08 07:09] DarkSoul26 commented on #221
@akshaygidwani404 I want to contribute to this problem.

[2021-10-08 10:44] deutranium commented on #193
@Poojasingh5 this has already been implemented in Python. Please check the algo [folder](https://github.com/deutranium/Algorithms/tree/master/sortingAlgo/heapSort) before implementing any code to confirm that you're not repeating

[2021-10-08 16:32] Heniboj commented on #201
Hey @deutranium, I would like to implement this algorithm in Java, can you please assign it to me?

[2021-10-09 13:22] Abhishek-Greninja17 commented on #211
@deutranium I have contributed a PR including InterpolationSearch in Java yesterday, may you please check and verify that.
It's the same logic in C language which I contributed earlier, has all the possible test cases and essential comments for understanding purpose

[2021-10-10 18:20] codelixir commented on #69
@K-u-n-a-l-c I have merged the PR's and edited the list as well, thanks!

[2021-10-12 05:48] codelixir commented on #221
Closed #222 for java. Thanks @akshaygidwani404!

[2021-10-16 06:44] AdityaVSM commented on #193
@K-u-n-a-l-c @deutranium I would like to implement the Heap sort algorithm in java. Can you assign it to me

[2021-10-16 19:27] AdityaVSM commented on #193
@K-u-n-a-l-c @deutranium can you check PR #231

[2021-10-17 10:23] codelixir commented on #193
#231 is closed so java is still up for grabs.

[2021-10-18 09:20] shadowsaber16 opened #234 "Implement Graph Coloring Algorithm"
Implement greedyGraphColoring in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C
- [ ] C++
- [x] Java
- [x] Python
- [ ] Any other language

[2021-10-18 09:23] shadowsaber16 opened #235 "Implement Welsh Powell algorithm"
Implement welshPowellAlgorithm in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C
- [x] C++
- [x] Java
- [x] Python
- [ ] Any other language

[2021-10-18 11:15] codelixir commented on #234
Yes you can go ahead with it, assigning it to you.
I'd suggest you to put your code in a new directory named something like `graphAlgos/`

[2021-10-18 11:16] codelixir commented on #235
You can go ahead! I've assigned the issue to you, you can now make a PR.

[2021-10-19 00:28] LathikaDevraj commented on #234
Hey, can I claim the implementation of the algorithm in Java?

[2022-04-10 11:26] etzl commented on #235
I want to work on c++ implementation. Should I use a graph library? Or can I use stdout to show the result?

[2022-04-12 09:49] codelixir commented on #235
stdout would be enough, but if you are interested in showing the output as a graph, that would be cool too!

[2022-04-13 10:18] etzl commented on #235
@codelixir Ok, thanks I'm working on it

[2022-04-27 09:58] codelixir commented on #235
Closed #249 for C++. Thanks @etzl!

[2022-10-12 20:56] skywalker2207 commented on #161
@codelixir can you assign this issue to me I will implement it in c#

[2022-10-13 17:18] codelixir commented on #161
@skywalker2207 C# has already been implemented in #213. You can also do it in a language not listed above.

[2022-10-13 17:19] codelixir commented on #235
Assigned C# to @skywalker2207

[2022-10-13 17:30] codelixir commented on #234
Assigned C++ to @skywalked2207

[2022-10-13 17:35] skywalker2207 commented on #221
hey @codelixir please assign me the issue to solve it in any other language

[2022-10-13 17:38] skywalker2207 commented on #201
@codelixir please assign this issue to me

[2022-10-14 22:12] codelixir opened #254 "Implement Kruskal's algorithm"
Implement Kruskal's algorithm in a language of your choice.

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] Any other language

[2022-10-14 22:14] codelixir commented on #254
C: #248
Java: #82

[2022-10-14 22:15] skywalker2207 commented on #254
hey @codelixir can you assign the c++ implementation of this to me

[2022-10-14 22:16] codelixir commented on #254
Sure, you can go ahead

[2022-10-15 03:12] 1-Sanchit-1 commented on #221
@codelixir  Hii , I can implement Kadane's algorithm in C++  language. Can you please assign me

[2022-10-15 03:16] 1-Sanchit-1 commented on #254
@codelixir Hii , I can implement Kruskal's algorithm in C++ language. Can you please assign me

[2022-10-15 04:14] codelixir commented on #221
@1-Sanchit-1 it is already implemented in C++, you can do it in any language not taken up yet

[2022-10-15 05:39] royzaa commented on #41
Hi, can I implement this in dart?

[2022-10-15 08:38] error707-persona commented on #254
Hey, I can implement it in python. Please assign it to me

[2022-10-15 13:43] MrJayendra commented on #254
I am interested in this work.
Please assign it to me

[2022-10-15 18:37] Sakshi2002-Sinha commented on #211
Can you assign me this issue?
I can do it in Javascript.

[2022-10-16 13:47] codelixir commented on #41
@royzaa yes you can go ahead

[2022-10-16 13:50] codelixir commented on #254
@error707-persona I have assigned it to you, you can go ahead.
@MrJayendra what language do you want to implement it in? You can pick any language not in the list.

[2022-10-16 14:06] MrJayendra commented on #254
I can contribute in C# language

[2022-10-21 06:59] codelixir commented on #254
@MrJayendra alright, you can go ahead

[2022-10-26 13:40] codelixir commented on #254
Merged for C# (#258) and Javascript (#261).
Thanks, @MrJayendra and @skywalker2207

[2022-10-26 13:41] codelixir commented on #221
Merged #261 for JS

[2022-11-02 14:10] assebc opened #263 "Implement greedy algorithm in informed problems in python"
Implement greedy algorithm in python

Please read the contributing guidelines in [CONTRIBUTING.md](https://github.com/deutranium/Algorithms/blob/master/CONTRIBUTING.md)

Languages claimed/implemented:
- [ ] C
- [ ] C++
- [ ] Java
- [x] Python
- [ ] Any other language

[2022-11-02 19:02] #263 closed